.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 30rem;
    width: 55rem;
    background-color: var(--md-sys-color-primary-container);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

.svg {
    width: 80%;
}